body {
  background-color: #848484;
  font-family: Arial, sans-serif;
  color: #fff;
}
h1 {
  text-align: center;
}
p {
  line-height: 160%;
  font-size: 1.1em;
}
.container {
  width: 100%;
  margin: auto;
  text-align: center;
}
/* Links */
a {
  text-decoration: none;
  color: #000;
}
a:hover,
a:visited:hover {
  color: #2e2e2e;
}
a:visited {
  color: #000;
}
